@import url("./header.css");
@import url("./homepage.css");
@import url("./gallery.css");
@import url("./image-details.css");

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.app {
  display: flex;
  height: 100%;
  background: url("../assets/france.jpg");
  background-size: cover;
  background-position: center;
  animation: fadeIn 1s ease;
  flex-direction: column;
  overflow: scroll;

}

.app::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 70%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  animation: fadeIn 1s ease;
}