.gallery-container.content {
  flex-wrap: wrap;
  display: flex;
  position: relative;
  padding: 30px 30px 20px;
}


@media (max-width: 460px) {
  .gallery-container {
    justify-content: center;
  }
}

.gallery-image {
  width: 150px;
  height: 200px;
  margin: 0 10px 10px 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery-image:hover .gallery-image-buttons {
  visibility: visible;
  top: 0;
}

.gallery-image-buttons {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  transition: top 0.25s ease;
}

.gallery-image-buttons .button {
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.gallery-image-buttons .button:first-of-type {
  margin-right: 10px;
}

.upload-btn {
  position: absolute;
  right: -60px;
  top: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}


@media (max-width: 600px) {
  .upload-btn {
    right: -50px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .upload-btn {
    right: -40px !important;
  }
}


@media (max-width: 370px) {
  .upload-btn {
    right: -24px !important;
    width: 20px;
    height: 20px;
  }
}



.upload-icon {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fa-upload {
  position: absolute;
  width: 100% !important;
  height: 100%;
  z-index: 7;
  color: white;
  background: orange;
  pointer-events: none;
  border-radius: 4px;
}

.upload-button {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 4px;
}