.header-container {
  height: 50px;

  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.title {
  color: white;
  font-size: 32px;
  text-align: center;
  width: 100%;
}

.ref-tags {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.ref-tags .tag {
  color: white;
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
}

.ref-tags .tag:first-of-type {
  padding-left: 20px;
}

@media (max-width: 600px) {
  .ref-tags .tag {
    font-size: 25px;
  }

  .title {
    font-size: 25px;
  }
}


@media (max-width: 380px) {
  .title {
    width: initial;
    margin: 0 40px 0 auto;
  }
}