.homepage-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fak-number {
  text-align: center;
  color: white;
}

.profile-picture {
  width: 400px;
  height: 250px;
  margin: 20px 0;
  background: url('../assets//personal.png') no-repeat center;
  background-size: contain;
}

.homepage-container .description {
  color: white;
}

.homepage-title {
  font-size: 22px;
}

.authentication-wrapper {
  margin-top: 50px;
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authentication-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.authentication-btn {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background: rgb(67, 184, 223);
  color: white;
}

.authentication-input {
  margin: 10px 0;
  border-radius: 6px;
  border: none;
  width: 250px;
  height: 30px;
  padding: 10px;
}

.authentication-btn.small {
  margin-top: 15px;
  height: 25px;
  width: 150px;
  opacity: 0.8;
  background: whitesmoke;
  color: black;
}
